<style>
  .menu ul {
    display: flex;
    list-style: none ;
    flex-flow: wrap;
    justify-content: center;
    place-content: space-around;
    background-color: rgb(70, 70, 173);

  }

  .menu li {
    padding: 10px;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

 
</style>



<h1>Rutas de Saimon</h1>
<div class="menu">
  <ul>
    <li><a routerLink="/usuarios/ingreso"> I-Por Pais </a></li>
    <li><a routerLink="/usuarios/egreso"> E-Por Capital </a></li>
  
    <!-- <li><a routerLink="/balancee/:id"> B-Ver Pais </a></li> -->
    <li><a routerLink="/futbol"> F-Coins </a></li>
    <li><a routerLink="/baloncesto"> B-Crypto </a></li>
  </ul>
</div>



<router-outlet></router-outlet>

